.Contacts {
    margin-top: 10px;
    height: 100px;
    background-color: #2faef0;
    text-align: center;
    justify-content: space-between;
  }
@media screen and (max-width: 792px) {
.Contacts{
  margin-top: 120px;
}
}
  