.Navbar{
    margin: 0;
    width: auto;
    height: 100px;
    background-color: #acddfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #tasha_home{
    margin-top:-9px;
    margin-left: 20px;
    color: #000000;
    font-weight: 900;
    font-size: 50px;
  }
  .Navbar > .linkStyling a{
    margin-left: 20px;
    text-decoration: none;
    color: #5c607a;
    font-size: x-large;
    margin-right:20px ;
  }
@media screen and (max-width:792px){
.Navbar{
  display:flex;
  flex-direction: column;
  width: auto;
  height: 75px;
}
#tasha_home{
  font-size: 40px;
}
.Navbar > .linkStyling a{
  font-size: large;
}

}